@model PracticeMvc.Models.Student
@{
    ViewBag.Title = "SearchStudentData";
}

<h2>SearchStudentData</h2>

@using (Html.BeginForm("SearchStudentData", "Student", FormMethod.Post))
{
    <h3>Student Details</h3>
    <table class="">

        <tr>
            <td>Enter the Id: </td>
            <td>
                @Html.TextBoxFor(m => m.Id) <br />
            </td>
        </tr>
        <br />
        <tr>
            <td>
                <input type="submit" value="Search" class="btn btn-danger" />
            </td>
        </tr>
        <tr>
            <td>
                @Html.ActionLink("Back to Index", "Index")
            </td>
        </tr>
    </table>
    


}

