@model StateManagementPendingTopics.Models.User
@{
    ViewBag.Title = "Index2";
}

<h2>Index2</h2>
@*<div>
        @Html.DisplayFor(m=>m.Name)
    </div>
    <div>
        @Html.HiddenFor(m=>m.Id)
    </div>*@

@ViewBag.CookieMessage

