
@{
    string s = ViewBag.C;
    Response.Write(s);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Address</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
